
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor objAccesor;


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="col-auto">
                            <h5>
                           Bienvenido Al sistema de Facturacion
                            </h5>
                        </div>
</div>
